.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 30px;

  &__cards {
    width: 100%;
  }

  &__header {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    width: 450px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-alt);
    letter-spacing: 0.03em;
    width: 450px;
    margin-bottom: 30px;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: inherit;
  }

  &__icon {
    display: block;
    background-color: var(--box-bg-color);
    border-radius: 4px;
    width: 450px;
    height: 120px;
  }

  @include desktop {
    padding-top: 94px;

    &__cards {
      display: flex;
      letter-spacing: 0.03em;
      justify-content: center;

      & li:not(:last-child) {
        margin-right: 30px;
      }
    }
    &__icon {
      background-color: var(--box-bg-color);
      border-radius: 4px;
      width: 270px;
      height: 120px;
    }
    &__header {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      width: 270px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    &__caption {
      text-align: justify;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: var(--text-color-alt);
      letter-spacing: 0.03em;
      width: 270px;
      margin-bottom: 0px;
    }
  }
}
