.about {
  display: flex;
  justify-content: center;
  padding-top: 94px;

  &__cards {
    display: flex;
    letter-spacing: 0.03em;

    & li:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__picture {
    margin: 0;
    width: inherit;
  }

  &__icon {
    background-color: var(--box-bg-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    width: 270px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-alt);
    letter-spacing: 0.03em;
    width: 270px;
    margin-bottom: 0px;
  }
}
