.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 16.09px;

  &__span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 8px;
    border: solid 2px var(--text-color-main);
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing);

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 13px 42px;
    font-size: 12px;
    transition: border-color var(--transition-timing);

    &:checked + .checkbox__span {
      background-color: var(--highlight-color);
      border-color: var(--highlight-color);
    }
  }
}
