.clients {
  text-align: center;
  padding-bottom: 94px;

  &__icon {
    fill: #afb1b8;
    border-radius: 4px;
    outline: 1px solid #afb1b8;

    &:focus {
      outline: 1px solid var(--highlight-color);
      border-radius: 4px;
      fill: var(--highlight-color);
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: var(--transition-timing);
      transition-property: outline;
    }

    &:hover {
      outline: 1px solid var(--highlight-color);
      border-radius: 4px;
      fill: var(--highlight-color);
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: var(--transition-timing);
      transition-property: outline;
    }
  }

  &__cards {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
