.clients {
  text-align: center;
  padding-bottom: 94px;

  & svg:hover {
    outline: 1px solid var(--highlight-color);
    fill: var(--highlight-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: outline;
  }

  & svg:focus {
    outline: 1px solid var(--highlight-color);
    fill: var(--highlight-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: outline;
  }

  &__icon {
    fill: #afb1b8;
    border-radius: 4px;
    outline: 1px solid #afb1b8;
  }

  &__cards {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
