.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  @include tablet {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @include phone {
    max-width: 767;
    margin: 0 auto;
    padding: 0 15px;
  }
}
