.footer {
  display: flex;
  background-color: var(--footer-bg-color);
  color: var(--top-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 100%;
  text-align: left;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  & li:not(:last-child) {
    margin-bottom: 9px;
  }

  &__address {
    font-style: normal;
    list-style-type: none;
    text-align: center;
    margin-bottom: 60px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__links-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 12px;
  }

  &__logo {
    margin-bottom: 20px;
    text-align: center;
  }

  &__icons {
    display: flex;
    margin-bottom: 60px;

    @include desktop {
      margin-right: 70px;
    }

    & li:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--top-bg-color);
    width: 44px;
    height: 44px;
    background-position: 12px 12px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: var(--highlight-color);
      color: var(--highlight-color);
      transition-duration: 250ms;
      transition-timing-function: var(--transition-timing);
      transition-property: fill color;
    }

    &:focus {
      background-color: var(--highlight-color);
      color: var(--highlight-color);
      outline: none;
      transition-duration: 250ms;
      transition-timing-function: var(--transition-timing);
      transition-property: fill color;
    }
  }

  &__flex {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__flex {
      max-width: 1200px;
      flex-direction: unset;
      align-items: flex-start;
    }
    &__logo {
      margin-bottom: 20px;
      text-align: left;
    }
    &__address {
      font-style: normal;
      list-style-type: none;
      text-align: left;
      margin-bottom: 0;
      margin-right: 70px;
      width: 246px;
    }
  }
}
