.input {
  display: block;
  position: relative;
  margin-top: 4px;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    pointer-events: none;
    transition: fill var(--transition-timing);
  }

  &__content {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 13px 42px;
    font-size: 12px;
    transition: border-color var(--transition-timing);

    &:focus + .input__icon {
      fill: var(--highlight-color);
      border-color: var(--highlight-color);
    }
  }
}
