.leaflet {
  width: 270px;
  background-color: var(--top-bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__card {
    margin: 0;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__occupance {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color-alt);
    padding-bottom: 16px;
  }
}
