.modal {
  width: 528px;
  height: 580px;
  background: var(--top-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform: scale(1);
  transition: transform 250ms var(--transition-timing), opacity 250ms var(--transition-timing);

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--top-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &__style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 700;
    display: block;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
    padding-top: 40px;
    margin-top: 0px;
  }

  &__content {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color-alt);
    width: 448px;
    margin-bottom: 10px;
  }

  &__statute {
    font-size: 14px;
    color: var(--text-color-alt);
    letter-spacing: 0.03em;
  }

  &__href {
    color: var(--highlight-color);
  }

  &__submit {
    background: var(--highlight-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-background-color);
    border: 0px;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
  }
}
