.portfolio {
  padding: 100px 0;

  &--overlay {
    position: relative;
    overflow: hidden;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }

  &__box {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: box-shadow;
    }

    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: box-shadow;
    }
  }

  &__card {
    background: var(--top-bg-color);
    margin: 0;

    &:hover .portfolio__card--overlay {
      transform: translate(0%, -100%);
      background: var(--highlight-color);
      opacity: 90%;
      height: 100%;
      width: 100%;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: height width transform background;
    }

    &--overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    margin: 0;
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0 0 4px 0;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color-alt);
    margin: 0;

    &--overlay {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1, 55;
      letter-spacing: 0.03em;
      color: var(--top-bg-color);
      padding-top: 49px;
      padding-bottom: 49px;
      padding-left: 24px;
      padding-right: 45px;
    }
  }
}
