.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 27px;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    background-color: var(--top-bg-color);
    fill: #afb1b8;
    width: 44px;
    height: 44px;
    background-position: 12px 12px;
    border-radius: 50%;
    cursor: pointer;

    &:focus {
      background-color: var(--highlight-color);
      fill: var(--top-bg-color);
      outline: none;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: backfround-color fill;
    }

    &:hover {
      background-color: var(--highlight-color);
      fill: var(--top-bg-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: backfround-color fill;
    }
  }
}
