*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--top-bg-color);
  color: var(--text-color-main);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 94px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.team-bg {
  background-color: var(--box-bg-color);
}

.logo__color {
  color: var(--main-blue);
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
