:root {
  --text-color-main: #212121;
  --text-color-alt: #757575;
  --main-background-color: #e5e5e5;
  --top-bg-color: #ffffff;
  --box-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --highlight-color: #2196f3;
}
